@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("./assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Medium", sans-serif;
  src: url("./assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
